body{
    margin: 0;
    padding: 0;
    background-color: #262626;
    display: flex;
}
ul{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}
ul li{
    list-style: none;
    letter-spacing: 15px;
    font-size: 5em;
    color: #484848;
    font-family: Arial;
    animation: animete 1.8s linear infinite;
}
@keyframes animete{
    0%{
        color: #484848;
        text-shadow: none;
    }
    90%{
        color: #484848;
        text-shadow: none;
    }
    100%{
        color: #fff900;
        text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00 ;
    }
}
ul li:nth-child(1){
    animation-delay: 0.2s;
}
ul li:nth-child(2){
    animation-delay: 0.4s;
}
ul li:nth-child(3){
    animation-delay: 0.6s;
}
ul li:nth-child(4){
    animation-delay: 0.8s;
}
ul li:nth-child(5){
    animation-delay: 1s;
}
ul li:nth-child(6){
    animation-delay: 1.2s;
}
ul li:nth-child(7){
    animation-delay: 1.4s;
}
ul li:nth-child(8){
    animation-delay: 1.6s;
}
ul li:nth-child(9){
    animation-delay: 1.8s;
}